@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.navbar {
  background-color: #D8abb1;
}
.navbar .navbar-link {
  width: 20%;
}
.navbar .navbar-link .navbar-img {
  width: 100%;
}
.navbar .navbar-item {
  width: 75%;
  display: inline-flex;
  justify-content: center;
  margin: 2%;
}
.navbar .navbar-item .item-list {
  width: 100%;
  padding: 0 20px;
  list-style: none;
  text-align: center;
}
.navbar .navbar-item .item-list .item-link {
  font-family: "Lobster Two", cursive;
  color: white;
  font-size: 1em;
}
.navbar .navbar-item .item-text {
  margin: auto;
  padding-right: 5px;
  list-style: none;
  font-family: "Merienda", cursive;
  font-size: 0.7em;
  color: white;
  text-align: end;
}
.navbar .navbar-item .item-link .navbar-button {
  border: none;
  font-family: "Merienda", cursive;
  border-radius: 10%;
  background-color: white;
  color: #D8abb1;
  font-size: 0.6em;
  cursor: pointer;
  padding: 9px 25px;
}

.form-search {
  width: 40%;
  margin: 9% auto;
  font-family: "Merienda", cursive;
}
.form-search .input-search {
  border: 2px solid #b9264b;
  text-align: center;
  color: #D8abb1;
}
.form-search .button-search {
  border: 2px solid #b9264b;
  background-color: white;
  font-family: "Merienda", cursive;
  color: #D8abb1;
}

.main-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .main-container {
    display: block;
    text-align: center;
  }
}
.main-container .main-item-text {
  flex: 2;
  background-color: #F9F9F9;
  /*#F6F6F6;*/
}
.main-container .main-item-text h1 {
  font-family: "Lobster Two", cursive;
  font-size: 2em;
  color: #b9264b;
  margin: 10%;
}
@media (max-width: 575px) {
  .main-container .main-item-text h1 {
    font-size: 30px;
    margin: 150px 0 50px;
  }
}
.main-container .main-item-text p {
  font-size: 0.8em;
  font-family: "Handlee", cursive;
  color: #566573;
  line-height: 30px;
  padding: 30px 150px 50px;
}
@media (max-width: 575px) {
  .main-container .main-item-text p {
    display: 2px solid black;
    font-size: 20px;
    text-align: justify;
    margin: 15px;
    padding: 0;
  }
}
.main-container .main-item-text h3 {
  font-family: "Handlee", cursive;
}
@media (max-width: 575px) {
  .main-container .main-item-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.main-container .main-item-text h4 {
  font-family: "Lobster Two", cursive;
  font-size: 1em;
  color: #b9264b;
}
@media (max-width: 575px) {
  .main-container .main-item-text .signup-form {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
.main-container .main-item-text .signup-form input {
  border: 1px solid #b6b6b6;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding: 6px 20px;
  font-size: 14px;
  height: 55px;
}
@media (max-width: 575px) {
  .main-container .main-item-text .signup-form input {
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    font-size: 14px;
    height: 55px;
  }
}
.main-container .main-item-text .signup-form button {
  background-color: #9B0071;
  font-size: 14px;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: -10px;
  cursor: pointer;
  padding: 6px 20px;
  height: 55px;
}
@media (max-width: 575px) {
  .main-container .main-item-text .signup-form button {
    background-color: #9B0071;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    height: 55px;
  }
}
.main-container .main-item-carousel {
  padding-top: 50px;
  flex: 1;
}

.title {
  padding: 5%;
  margin: auto;
  font-family: "Lobster Two", cursive;
  font-size: 1.5em;
  width: 30%;
  color: #b9264b;
}

.compare-article {
  background-image: url(Logos/uno.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3.1fr);
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 575px) {
  .compare-article {
    background-image: url(Logos/uno.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.compare-article .item-compare {
  display: block;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media (max-width: 575px) {
  .compare-article .item-compare {
    display: none;
  }
}
.compare-article .item-compare .max-width {
  display: none;
}
@media (max-width: 575px) {
  .compare-article .item-compare .max-width {
    display: block;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
}
.compare-article .item-compare .header-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.compare-article .item-compare .header-footer h3 {
  color: #008080;
  font-size: 0.6em;
}
.compare-article .item-compare .header-footer h4 {
  color: #000080;
  font-size: 0.5em;
}
.compare-article .item-compare .header-footer a {
  font-size: 0.5em;
  text-decoration: none;
}
.compare-article .item-compare .header-footer .heart-shape {
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #F8EDF2;
}
.compare-article .item-compare .header-footer .heart-shape:before {
  position: absolute;
  bottom: 0px;
  left: -9px;
  width: 15px;
  height: 15px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #F8EDF2;
}
.compare-article .item-compare .header-footer .heart-shape:after {
  position: absolute;
  top: -9px;
  right: 0px;
  width: 15px;
  height: 15px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #F8EDF2;
}
.compare-article .item-compare .header-footer .heart-shape.otherclass {
  background-color: red;
}
.compare-article .item-compare .header-footer .heart-shape.otherclass:before {
  background-color: red;
}
.compare-article .item-compare .header-footer .heart-shape.otherclass:after {
  background-color: red;
}
.compare-article .item-compare img {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 50px;
  color: #600950;
  font-size: 0.5em;
  text-align: center;
}
.footer img {
  width: 5%;
}

body {
  display: block;
  background-color: #F9F9F9;
  font-size: 30px;
}

/*# sourceMappingURL=index.css.map */
