<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table style="width: 100%; max-width: 600px; text-align: center; margin: 0 auto;">
            <tr>
                <td>
                    <a href="https://quirky-hugle-5fe443.netlify.app"  target="_blank" style="display: block;">
                        <img src="Logos/AXIN.png" alt="Mundo Axin" style="width: 30%;">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="Logos/comparar.gif" alt="Comparar-Buscar-Comprar" style="width: 50%;">
                </td>
            </tr>
            <tr>
                <td>
                    <H1 style="color: #600950;">Bienvenido</H1>
                    <p style="color: #600950; text-align: center; line-height: 22px; font-size: 15px; padding: 10px 50px;">
                       <strong>
                            Gracias por ingresar a Mundo Axin, compara precios de los productos de maquillaje
                            que mas te gusten y guardalos en tu lista deseos para que puedas compararlos
                            ó comprarlos cuando desees.
                       </strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="
                    border-top: 1px solid #9B0071;
                    border-bottom: 1px solid #9B0071;
                    padding-top: 35px;
                    padding-bottom: 35px;
                ">
                    <table style="
                        text-align: center;
                        width: 100%;
                        color: #025157;
                        font-family: Arial, Helvetica, sans-serif;"
                    >
                        <tr>
                            <td>
                                <img src="Logos/producto.jpg" alt="Producto" style="width: 100%;"/>
                                <h3 style="color:#F06292; font-size: 15px;">Producto</h3>
                            </td>
                            <td>
                                <img src="Logos/pesos.jpg" alt="Dinero" width="50%" />
                                <h3 style="color:#F06292; font-size: 15px;">Compara Precio</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="Logos/bolsa.png" alt="Bolsa de compras" width="100%" />
                                <h3 style="color:#F06292; font-size: 15px;">Compra</h3>
                            </td>
                            <td>
                                <img src="Logos/list.jpg" alt="Lista de Deseos" width="70%"/>
                                <h3 style="color:#F06292; font-size: 15px;">Guarda</h3>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="color: #600950; font-family: Arial, Helvetica, sans-serif; font-size: 17px;">
                        Siguenos en nuestras Redes Sociales
                    </h2>
                    <img
                        src="https://images.vexels.com/media/users/3/140687/isolated/preview/f705441ceeb70b9920ce6c37d80f5603-linkedin-distorsionado-icono-redondo-by-vexels.png"
                        alt="Linkedin"
                        style="width: 5%;"
                    />
                    <img
                        src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png"
                        alt="facebbok"
                        style="width: 5%;"
                    />
                    <img
                        src="https://images.vexels.com/media/users/3/137419/isolated/preview/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png"
                        alt="twiter"
                        style="width: 5%;"
                    />
                    <img
                        src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-icono-de-instagram-logo-by-vexels.png"
                        alt="instagram"
                        style="width: 5%;"
                    />
                    <h4 style="color: #600950;font-family: Arial, Helvetica, sans-serif;">
                        &copy; 2020 Mundo Axin. Marca registrada.
                    </h4>
                </td>
            </tr>
            </tr>
        </table>
    </body>
</html>