@use 'global' as *;
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

.navbar {
    background-color: $color-navbar;
    padding: 10px 15px ;

    .navbar-brand {

        img {
            margin: 0;
            width: 30%;
        }
    }

    .collapse {

        .navbar-nav {
            text-align: left;
            color:purple;
        }
        .navbar-nav {
            .nav-item {
                font-size: .6em;
                .nav-link {
                    color: $dark-purple;
                }
            }
        }
        .form-inline {
            font-size: .5em;
            width: 30%;
            padding: 0;
            text-align:auto;

            input {
                border:2px solid $color-buttom;
                padding-left: 0;
                margin-right: 10px;
            }

            button {
                background-color: $color-buttom;
                border-radius: 10px;
                border: 0;
                color: $color-white;
                width: 25%;
                padding: 5px 10px;
            }
        }
    }
}

.compare-table {
    font-size: .7em;
    margin: 200px auto;
    text-align: center;

    .table-head {
        border: 2px solid black;
    }
    .product {
        border: 2px solid black;
    }
}

body {
    display: block;
    background-color: $color-white;
    font-size: 30px;
}

