@use 'global' as *;
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.product-article{
    display: flex;
    align-items: center;
    margin-top: 200px;
    height: 30%;
    padding: 0 10%;


    .section-product{
        font-family: "Handlee", cursive;
        color:#008080;
        .img-product{
            width: 100%;
        }
        h2{
            color: #000080;
        } 
    }
    .section-text{
        margin-left: 5%;
    }
}

.compare-table {
    text-align: center;
    margin: 5% auto;
    width: 50%;
    
    .th-table {
        font-size: .9em;
        font-family: "Handlee", cursive;
        color: #000080;
        .table-head {
            border: 2px dotted #D8abb1;
        }
    }
 
    .tr-table{
        font-family: "Handlee", cursive;
        font-size: .7em;

        .table-item {
            border: 2px dotted #D8abb1;
            color:gray;
        }
        .table-link{
            color:gray;
            border: 2px dotted #D8abb1;
            
            .link{
                color:#b9264b;
            } 
        }
    }
}
.form-search{
    margin-bottom: 10%;
}

body {
    display: block;
    background-color: #F9F9F9;
    font-size: 30px;
}

